
// Colors
$black: black;
$color_1: blue;


// Screen sizes
$xs: 350px;
$s: 480px;
$m: 670px;
$l: 960px; 
$xl: 1220px;


// Extenders
.relative {
	position: relative;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	&.v-center {
		align-items: center;
	}
	&.h-center {
		justify-content: center;
	}
}

// Mixins
@mixin gutter($x) {
	.contain {
		padding-left: $x;
		padding-right: $x;
	}
}

@mixin header-size($x) {
	.header-container {
		height: $x;
	}
	.nav-button {
		width: $x;
		height: $x;
		padding: $x/4;
	}
	.brand {
		padding-left: $x/4;
		@media (max-width: $m - 1) {
			padding-right: $x;
		}
	}
	.header-nav {
		height: calc(100vh - #{$x});
		top: 0;
	}
}