html {
	background: black;
}

body {
	@extend .relative;
	background: white;
	width: 100%;
	border: solid 1px black;
}



.contain {
	@extend .relative;
	max-width: 40em;
	width: 100%;
	margin: 0 auto;
}



@include gutter(16px);
@include header-size(46px);

@media (min-width: $xs) {
	@include gutter(24px);
}
@media (min-width: $s) {
	@include gutter(36px);
	@include header-size(52px);
}
@media (min-width: $m) {
	// @include gutter(36px);
	@include header-size(60px);
}

// Header
.header {
	// border-top: solid 1px black;
	border-bottom: solid 1px black;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(white, .92);
	&.stuck,
	&.open {
		position: fixed;
	}
	
}

.sticky.header {
	position: fixed;
	transform: translateY(0);
	transition: transform .25s ease;
	&.stuck,
	&.open {
		visibility: visible;
		transform: translateY(100%);
	}
}

.brand {
	@extend .flex, .v-center;
	height: 100%;
}

.nav-button {
	@extend .flex;
	align-content: space-around;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background: black;
	& > div {
		width: 100%;
		height: 1px;
		background: white;
	}
}

// Nav
.nav-list {
	width: 100%;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	a {
		border-bottom: none;
	}
}

.sub-nav {
	padding-left: 0;
	list-style: none;	
}

.header-nav {
	display: none;
	position: relative;
	background: white;
	align-items: center;
	.nav-list {
		padding: 1em;
		text-align: center;
	}
	.top-level-nav > a {
		font-size: 1.5em;
	}
	.sub-nav a {
		font-size: 1.125em;
		color: #555;
	}
}

.header-nav .top-level-nav {
	padding-bottom: 1.5em;
}

.header-nav a {
	display: inline-block;
	margin-bottom: 1em;
}

.header.open .header-nav {
	display: block;
	.flexbox & {
		display: flex;
	}
}

.cssanimations {
	.header .header-nav {
		animation-name: nav-in;
		animation-duration: .25s;
		animation-fill-mode: forwards;
	}
	.header.closed .header-nav {
		display: block;
		animation-name: nav-out;
	}
	&.flexbox .header.closed .header-nav {
		display: flex;
	}
}

@media (min-width: $m) {
	.header.stuck {
		border: solid 1px black;
	}
	.header-container {
		display: flex;
		flex-flow: row wrap;

	}
	.brand {
		border-right: solid 1px black;
	}
	.site-title {
		width: 180px;
		text-align: center;
	}
	.header-nav {
		display: block;
		position: static;
		height: auto;
		top: auto;
		background: transparent;
		.nav-list {
			padding: 0 1em;
			height: 100%;
			display: flex;
			align-items: center;
		}
		.top-level-nav {
			display: inline-block;
			padding: 0 .75em;
		}
		.top-level-nav a {
			font-size: 1em;
			margin-bottom: 0;
		}
		.sub-nav {
			display: none;
		}
	}
	main {
		padding-left: 211px;
	}
	main > .contain {
		margin: 0;
	}
}


@keyframes nav-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes nav-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


// Sidebar
.sidebar {
	display: none;
	margin-bottom: 2em;
}

// Main content
main {
	min-height: 200px;
	padding-top: 1em;
	padding-bottom: 2em;
}

.page-title {
	margin-top: 0;
	padding-top: 1em;
	padding-bottom: .5em;
	border-bottom: solid 1px black;
}


// Footer
.footer {
	padding-top: 4em;
	padding-bottom: 4em;
	background: black;
	color: white;
	min-height: 500px;
}

.footer p {
	margin-bottom: 0;
}