html {
	background: black;
}

body {
	@extend .relative;
	background: white;
	width: 100%;
}

.contain {
	@extend .relative;
	max-width: 40em;
	width: 100%;
	margin: 0 auto;
}

@include gutter(16px);
@include header-size(46px);

@media (min-width: $xs) {
	@include gutter(24px);
}
@media (min-width: $s) {
	@include gutter(36px);
	@include header-size(52px);
}
@media (min-width: $m) {
	@include header-size(60px);
}

// Sidebar
.sidebar {
	display: none;
	margin-bottom: 2em;
}

// Main content
main {
	min-height: 200px;
	padding-top: 1em;
	padding-bottom: 2em;
}

.page-title {
	margin-top: 0;
	padding-top: 1em;
	padding-bottom: .5em;
	border-bottom: solid 1px black;
}


// Footer
.footer {
	padding-top: 2em;
	padding-bottom: 3em;
	background: black;
	color: white;
}

.footer p {
	margin-bottom: 0;
}